a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}
.newsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0;
}

.savedItem,
.newsCard {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.377);
  border: 1px solid black;
}

.savedItem {
  display: flex;
  justify-content: space-between;
}
.icon {
  width: 100%;
  font-size: 1.5rem;
  cursor: pointer;
}
.deleteIcon:active,
.icon:active {
  transform: scale(0.7);
}
.deleteIcon {
  font-size: 1.5rem;
  cursor: pointer;
}
.savedItemIcon {
  margin-left: auto;
  font-size: 1.5rem;
}

.NewsList {
  padding-bottom: 2rem;
}
