/* ------general styling------- */

* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  text-align: center;
}
body {
  background-color: #ddc1c1;
}

h1,
h2 {
  width: 70%;
  margin: 1rem auto;
  text-align: center;
}
h1 {
  width: 100%;
  background: #ddc1c1;
  box-shadow: 20px 20px 60px #bca4a4, -20px -20px 60px #fedede;
  padding: 2rem;
}

input,
button {
  max-width: 300px;
  min-width: 200px;
  height: 50px;
}

button {
  border: none;
  background: #ddc1c1;
  box-shadow: 20px 20px 60px #bca4a4, -20px -20px 60px #fedede;
  margin: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}
button:hover {
  background-color: #c78989;
}
button:active {
  background: #c78989;
  box-shadow: inset 20px 20px 60px #a97474, inset -20px -20px 60px #e59e9e;
}

input {
  background-color: #ebdddd;
  border: none;
  font-size: 1.2rem;
}
li {
  list-style-type: none;
  margin-left: 0;
}
.section {
  padding-top: 2rem;
  height: 100vh;
  background: #f5ebeb;
  box-shadow: 20px 20px 60px #bca4a4, -20px -20px 60px #fedede;
}

.hide {
  display: none;
}

.scrollContainer {
  height: 500px;
  margin-bottom: 4rem;
  overflow-y: scroll;
  scrollbar-width: none;
}

.scrollContainer::-webkit-scrollbar {
  display: none;
}

/* ------todo styling------- */

.todo-row,
.alertbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  max-width: 400px;
  min-width: 200px;
  padding: 1.3rem;
  background-color: #9ab2c9;
  border: 2px solid black;
  margin: 1rem auto;
}
.todo-item {
  display: flex;
  align-items: center;
}
.icons {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
}
input[type="checkbox"] {
  height: 1.4rem;
  min-width: 2rem;
  margin-right: 1.4rem;
}

@media only screen and (max-width: 400px) {
  .icons {
    font-size: 2.2rem;
  }
  .todo-row {
    padding: 1.2rem;
  }
}

.complete {
  background-color: rgb(169, 216, 187);
}
/* ------quote styling------- */

li {
  text-align: start;
  padding: 0.5rem;
}

ol {
  background-color: #f5dcdc;
  box-shadow: 20px 20px 60px #d0bbbb, -20px -20px 60px #fffdfd;
  margin-top: 5rem;
  max-height: 300px;
  overflow-y: scroll;
  scrollbar-width: none;
  padding-left: 1rem;
}
ol::-webkit-scrollbar {
  display: none;
}
.quoteContainer {
  padding: 1rem;
  margin-block: 1.8rem;
  background-color: rgb(187, 138, 138);
  color: white;
  box-shadow: 20px 20px 60px #d0bbbb, -20px -20px 60px #fffdfd;
}
#quote {
  width: 70%;
  margin: 0 auto;
}
ol li {
  padding-block: 1.3rem;
  padding-right: 2rem;
}

/* ------weather------- */

.alertbox {
  margin-top: 3rem;
  background-color: rgb(193, 221, 32);
}
