@media screen and (min-width: 600px) {
  .upAndDown {
    animation: updown 10s infinite;
    height: 160px;
    margin-top: 9rem;
  }

  @keyframes updown {
    0% {
      transform: translateY(-100%);
    }

    50% {
      transform: translateY(100%);
    }

    100% {
      transform: translateY(-100%);
    }
  }
}

.scrollContainer {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 8rem;
  margin-bottom: 8rem;
  overflow: scroll;
  height: 80vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollContainer::-webkit-scrollbar {
  display: none;
}
